<?xml version="1.0" encoding="utf-8"?>
<!--
 This file is part of C2 Validator <https://github.com/StevenJDH/C2-Validator>.
 Copyright (C) 2020 Steven Jenkins De Haro.
 
 C2 Validator is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 C2 Validator is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with C2 Validator.  If not, see <http://www.gnu.org/licenses/>.
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
